<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Footer.css">
</head>
<footer class=" text-black">
    <div class="container mx-auto flex flex-col lg:flex-row gap-5 justify-between p-5">
        <div class="flex-1 text-center lg:text-left" style="font-family: 'jsMath-cmbx10';">
            <p>Home: 412/12 Luy Ban Bich</p>
            <p>Hoa Thanh, Tan Phu</p>
            <p>Tp. HCM</p>
        </div>
        <div class="flex-1 text-center lg:text-left" style="font-family: 'jsMath-cmbx10';">
            <p>Email: letiennhatlinh08072003@gmail.com</p>
        </div>
        <div class="flex-1 text-center lg:text-left" style="font-family: 'jsMath-cmbx10';">
            <p>Terms of Use</p>
            <p>Washing Instruction</p>
            <p>Do not sell my personal information</p>
        </div>
        <div class="flex-1 flex justify-center lg:justify-start">
            <img src="https://www.electricland-tokyo.com/cdn/shop/t/13/assets/insta-icon.svg?v=140168368607996899881617028873"
                alt="Instagram" class="h-8 w-8">
        </div>
    </div>
</footer>
