<footer>
    <div class="w-full flex gap-20 justify-between p-5">
        <div class="" style="font-family: 'jsMath-cmbx10';">
            Home:412/12 Luy Ban Bich <br>
            Hoa Thanh,Tan Phu<br>
            Tp.Hcm
        </div>
        <div class="" style="font-family: 'jsMath-cmbx10';">
            Email:letiennhatlinh08072003@gmail.com
        </div>
        <div class="" style="font-family: 'jsMath-cmbx10';">
            Terms of Use<br>
            Washing Instruction<br>
            Do not sell my persona information
        </div>
        <div class="">
            <img src="https://www.electricland-tokyo.com/cdn/shop/t/13/assets/insta-icon.svg?v=140168368607996899881617028873"
                alt="">
        </div>
    </div>
</footer>