<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
    <style>
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
      }
      .dropdown:hover .dropdown-menu,
      .dropdown:focus-within .dropdown-menu {
        display: block;

      }
    </style>
  </head>

  <body>
    <header class="relative bg-white p-6">
      <div class="flex items-center justify-between">
        <div class="flex-shrink-0">
          <a href="/" class="text-4xl font-bold text-black" style="font-family: 'jsMath-cmbx10';">Faded</a>
        </div>
        <div class="flex lg:hidden">
          <button id="menu-toggle" class="text-black focus:outline-none">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
        <div class="hidden flex-1 items-center justify-end space-x-10 lg:flex">
          <nav class="flex space-x-10">
            <div class="dropdown relative">
              <a href="/vintageteeshop" class="text-lg text-black" style="font-family: 'jsMath-cmbx10';">PRODUCTS</a>
              <div class="dropdown-menu p-4">
                <div class="flex justify-center">
                  <table class="mx-auto my-auto w-full table-auto bg-gray-200">
                    <tbody>
                      <tr>
                        <td class="p-8">T-Shirt</td>
                        <td class="p-8">Jacket</td>
                        <td class="p-8">Shirt</td>
                        <td class="p-8">Denim</td>
                        <td class="p-8">Sweater</td>
                      </tr>
                      <tr>
                        <td class="p-8">Pants</td>
                        <td class="p-8">Accessories</td>
                        <td class="p-8">Hoodie</td>
                        <td class="p-8">Flannel</td>
                        <td class="p-8">Polo</td>
                      </tr>
                      <tr>
                        <td class="p-8">Hats</td>
                        <td class="p-8">Rework</td>
                        <td class="p-8">Orders</td>
                        <td class="p-8">Shorts</td>
                        <td class="p-8">Bags</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <a href="/information" class="text-lg text-black" style="font-family: 'jsMath-cmbx10';">CLEARANCE SALE</a>

            <div class="dropdown group relative">
              <a href="/vintageteeshop" class="text-lg text-black" style="font-family: 'jsMath-cmbx10';">VINTAGE</a>
              <div class="dropdown-menu absolute hidden w-80 -translate-x-1/2 transform p-5 shadow-lg group-hover:block">
                <table class="mx-auto w-full table-auto bg-gray-200">
                  <tbody>
                    <tr class="flex flex-col">
                      <td class="p-7 text-center text-lg">Retro</td>
                      <td class="p-7 text-center text-lg">Vintage 00’s</td>
                      <td class="p-7 text-center text-lg">Vintage 90’s</td>
                      <td class="p-7 text-center text-lg">Vintage 80’s</td>
                      <td class="p-7 text-center text-lg">Vintage 70’s</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <a href="/cart" class="text-lg text-black" style="font-family: 'jsMath-cmbx10';">JERSEYZONE</a>
            <a href="/cart" class="text-lg text-black" style="font-family: 'jsMath-cmbx10';">FOOTWEAR</a>
          </nav>
          <nav class="hidden space-x-4 lg:flex">
            <a href="/login" class="text-black">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
              </svg>
            </a>
            <a href="#" class="text-black">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                <path d="M8.25 10.875a2.625 2.625 0 1 1 5.25 0 2.625 2.625 0 0 1-5.25 0Z" />
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.125 4.5a4.125 4.125 0 1 0 2.338 7.524l2.007 2.006a.75.75 0 1 0 1.06-1.06l-2.006-2.007a4.125 4.125 0 0 0-3.399-6.463Z" clip-rule="evenodd" />
              </svg>
            </a>
            <a href="#" class="text-black">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
              </svg>
            </a>
          </nav>
        </div>
      </div>
      <div id="mobile-menu" class="hidden bg-white lg:hidden">
        <div class="flex flex-col items-center space-y-4 py-4">
          <form action="/search" method="get" class="mx-auto flex w-full max-w-md items-center space-x-2">
            <input type="text" name="query" placeholder="Search..." class="flex-1 rounded-lg border border-gray-300 p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-black" />
            <button type="submit" class="rounded-lg bg-black px-4 py-2 text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-black">Search</button>
          </form>
          <nav class="flex flex-col items-center space-y-2">
            <a href="/login" class="w-screen rounded-lg bg-gray-300 px-4 py-2 text-lg font-semibold text-black hover:bg-gray-500" style="font-family: 'jsMath-cmbx10';">LOGIN</a>
            <a href="#" class="w-screen rounded-lg bg-gray-300 px-4 py-2 text-lg font-semibold text-black hover:bg-gray-500" style="font-family: 'jsMath-cmbx10';">CART</a>
            <a href="/vintageteeshop" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">PRODUCTS</a>
            <a href="/reword" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">BRANDS</a>
            <a href="/information" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">CLEARANCE SALE</a>
            <a href="/contact" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">VINTAGE</a>
            <a href="/cart" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">JERSEYZONE</a>
            <a href="/cart" class="w-screen rounded-lg px-4 py-2 text-lg font-semibold text-black" style="font-family: 'jsMath-cmbx10';">FOOTWEAR</a>
          </nav>
        </div>
      </div>
    </header>
    <script>
      const menuToggle = document.getElementById('menu-toggle');
      const mobileMenu = document.getElementById('mobile-menu');

      menuToggle.addEventListener('click', () => {
          mobileMenu.classList.toggle('hidden');
      });
    </script>
  </body>
</html>
