@* @{
    ViewData["Title"] = "Home Page";
}

<head>

</head>


<div class="relative w-full">
    <img src="https://www.electricland-tokyo.com/cdn/shop/files/2021-03-03-17-46-18.jpg?v=1617811192" alt=""
        class="object-cover h-screen w-full transition-opacity duration-1000" id="image1">
    <img src="https://www.electricland-tokyo.com/cdn/shop/files/2021-03-03_16_38_40.jpg?v=1617583520" alt=""
        class="hidden object-cover h-screen w-full transition-opacity duration-1000" id="image2">
    <img src="https://www.electricland-tokyo.com/cdn/shop/files/2021-03-03-17-46-16.jpg?v=1617811228" alt=""
        class="hidden object-cover h-screen w-full transition-opacity duration-1000" id="image3">

    <div class="absolute inset-0 flex items-center justify-center">
        <h1 class="text-white text-5xl md:text-6xl lg:text-7xl font-bold p-4 rounded transition-opacity duration-1000 opacity-100 shadow-lg"
            id="title1" style="font-family: 'jsMath-cmbx10';">
            Vintage Tee Shop
        </h1>
        <h1 class="text-white text-5xl md:text-6xl lg:text-7xl font-bold p-4 rounded transition-opacity duration-1000 opacity-0 hidden shadow-lg"
            id="title2" style="font-family: 'jsMath-cmbx10';">
            Reword
        </h1>
    </div>
</div>


<script>
    let currentIndex = 0;
    const images = [document.getElementById('image1'), document.getElementById('image2'), document.getElementById('image3')];
    const titles = [document.getElementById('title1'), document.getElementById('title2')];

    function showNextImage() {
        images[currentIndex].classList.add('hidden');
        titles[currentIndex].classList.add('opacity-0');

        currentIndex = (currentIndex + 1) % images.length;

        images[currentIndex].classList.remove('hidden');
        titles[currentIndex].classList.remove('opacity-0');

        setTimeout(showNextImage, 3000); // Change every 3 seconds
    }

    setTimeout(showNextImage, 1000);

    // Header menu toggle functionality
    const menuToggle1 = document.getElementById('menu-toggle-1');
    const mobileMenu1 = document.getElementById('mobile-menu-1');

    menuToggle1.addEventListener('click', () => {
        mobileMenu1.classList.toggle('hidden');
    });

</script> *@
