@{ ViewData["Title"] = "Home Page"; }

<head> </head>

<div class="relative w-full">
  <img src="https://www.electricland-tokyo.com/cdn/shop/files/2021-03-03-17-46-18.jpg?v=1617811192" alt="" class="w-full object-cover transition-opacity duration-1000" style="height: 500px;" id="image1" />
  <img src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/03/29/194356.jpg" alt="" class="hidden w-full object-cover transition-opacity duration-1000" style="height: 500px;" id="image2" />
  <img src="https://cms-cdn.thesolesupplier.co.uk/2022/08/floating-shelves.jpg.webp" alt="" class="hidden w-full object-cover transition-opacity duration-1000" style="height: 500px;" id="image3" />

  <div class="absolute inset-0 flex items-center justify-center">
    <h1 class="rounded p-4 text-5xl font-bold text-white opacity-100 shadow-lg transition-opacity duration-1000 md:text-6xl lg:text-7xl" id="title1" style="font-family: 'jsMath-cmbx10';">Vintage</h1>
    <h1 class="hidden rounded p-4 text-5xl font-bold text-white opacity-0 shadow-lg transition-opacity duration-1000 md:text-6xl lg:text-7xl" id="title2" style="font-family: 'jsMath-cmbx10';">Jerseyzone</h1>
    
     <h1 class="hidden rounded p-4 text-5xl font-bold text-white opacity-0 shadow-lg transition-opacity duration-1000 md:text-6xl lg:text-7xl" id="title3" style="font-family: 'jsMath-cmbx10';">FOOTWEAR</h1> 
    
  </div>
  <!-- Previous and Next buttons -->
  <div class="absolute left-0 top-1/2 ml-4 -translate-y-1/2 transform">
    <button id="prevBtn" class="rounded-full bg-gray-800 p-2 text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
  </div>
  <div class="absolute right-0 top-1/2 mr-4 -translate-y-1/2 transform">
    <button id="nextBtn" class="rounded-full bg-gray-800 p-2 text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>
</div
 <!-- #Vintage-->
<div class="p-6">
  <div class="mb-4 flex justify-between">
    <div class="text-xl font-bold">VINTAGE</div>
    <div class="cursor-pointer text-base text-gray-500">Xem tất cả</div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap justify-center sm:space-x-4">
     <div class="flex w-full flex-col items-center sm:w-1/4">
      <a href="/detail">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/02/480x320/665c04e52193d.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Vintage Nike Manchester United <br />2004-05 Away 2 Kit Nameset Ronaldo #7</p>
          <p class="p-1">3,850,000đ</p>
        </div>
        </a>
      </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/66750191a8612.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">
          VINATGE 90S APPLE MAC<br />
          BACK
        </p>
        <p class="p-1">3,520,000đ</p>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6675001eefcfc.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">
          VINTAGE 90S SALEM SPORT<br />
          WEAR NBA COMIC
        </p>
        <p class="p-1">3,850,000đ</p>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff2a897cb.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Vintage 90s Batman and <br />Robin</p>
        <p class="p-1">3,300,000đ</p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
    <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6675013f52ae2.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Vintage 90s Looney Tunes <br />Wile E. Coyote</p>
        <p class="p-1">2,860,000đ</p>
      </div>
    </div>
    <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff65dc8b8.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Vintage Samurai Deeper Kyo</p>
        <p class="p-1">1,650,000đ</p>
      </div>
    </div>
  </div>
  <a href="/product">
  <div class="flex items-center justify-center mt-4">
    <button class="w-[150px] rounded-md border border-black px-4 py-2 text-black transition-colors duration-300 hover:border-gray-300 hover:bg-gray-300">Xem thêm</button>
  </div>
  </a>
</div>


<!-- #Sale-->
<div class="p-6">
  <div class="mb-4 flex justify-between">
    <div class="text-xl font-bold">CLEARANCE SALE</div>
    <div class="cursor-pointer text-base text-gray-500">Xem tất cả</div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap justify-center sm:space-x-4">
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/07/18/480x320/6698d1d081895.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Manchester United 2010 -11 <br> Home Jersey</p>
        <div class="flex gap-2">
          <p class="p-1 line-through">1,100,000đ</p>
          <p class="text-red-600 mt-1">880,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2021/12/01/480x320/61a748dc047d2.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Air Jordan 1 Low Mocha</p>
        <div class="flex gap-2">
          <p class="p-1 line-through">4,950,000đ</p>
          <p class="text-red-600 mt-1">3,100,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a777f119928.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Mykita + Maison Margiela Raw <br> Black Solid Gray Sunglasses</p>
        <div class="flex gap-2">
          <p class="p-1 line-through">11,000,000đ</p>
          <p class="text-red-600 mt-1">8,100,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a7775db2bec.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Stoned FC Jersey White <br>Soft Blue</p>
        <div class="flex gap-2">
          <p class="p-1 line-through">3,250,000đ</p>
          <p class="text-red-600 mt-1">1,850,000đ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap justify-center sm:space-x-4">
 <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
  <img class="w-full" src="https://glab.vn/storage/products/2022/03/05/480x320/62232e41efdf7.jpg" alt="" />
  <div class="mt-2 text-center">
    <p class="text-sm font-semibold">Drew House Mascot ss</p>
    <div class="flex justify-center gap-2">
      <p class="p-1 line-through">3,520,000đ</p>
      <p class="text-red-600 mt-1">2,850,000đ</p>
    </div>
  </div>
</div>

   <div class="w-full sm:w-1/4 flex-col items-center sm:block hidden">
  <img class="w-full" src="https://glab.vn/storage/products/2020/10/20/480x320/5f8edc4bc6b8b.jpg" alt="" />
  <div class="mt-2 text-center">
    <p class="text-sm font-semibold">BAPE x Anti Social Social <br>Club ABC Camo Box Tee</p>
    <div class="flex gap-2 justify-center">
      <p class="p-1 line-through">3,520,000đ</p>
      <p class="text-red-600 mt-1">3,050,000đ</p>
    </div>
  </div>
</div>

   <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
  <img class="w-full" src="https://glab.vn/storage/products/2022/12/22/480x320/63a425c638560.jpg" alt="" />
  <div class="mt-2 text-center">
    <p class="text-sm font-semibold">WMNS Nike Sportswear Faux <br>Fur Jacket Photon Dust</p>
    <div class="flex  gap-2">
      <p class="p-1 line-through">4,250,000đ</p>
      <p class="text-red-600 mt-1">3,850,000đ</p>
    </div>
  </div>
</div>
<div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
  <img class="w-full" src="https://glab.vn/storage/products/2024/07/18/480x320/6698d3a2792eb.jpg" alt="" />
  <div class="mt-2 text-center">
    <p class="text-sm font-semibold">JUVENTUS 23/24 HOME JERSEY</p>
    <div class="flex justify-center gap-2">
      <p class="p-1 line-through">880,000đ</p>
      <p class="text-red-600 mt-1">550,000đ</p>
    </div>
  </div>
</div>

  </div>
  <a href="/product">
  <div class="flex items-center justify-center mt-4">
    <button class="w-[150px] rounded-md border border-black px-4 py-2 text-black transition-colors duration-300 hover:border-gray-300 hover:bg-gray-300">Xem thêm</button>
  </div>
  </a>
</div>
 <!-- #Footwear-->

<div class="p-6">
  <div class="mb-4 flex justify-between">
    <div class="text-xl font-bold">FOOTWEAR</div>
    <div class="cursor-pointer text-base text-gray-500">Xem tất cả</div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap justify-center sm:space-x-4">
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2022/10/31/480x320/635fbe5970a18.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Air Jordan 4 Retro <br> Midnight Navy</p>
        <p class="p-1">9,900,000đ</p>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2022/02/28/480x320/621caffca1e91.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">
         Nike Blazer Mid 77 Jumbo 
        </p>
        <p class="p-1">1,520,000đ</p>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2021/01/20/480x320/6007ef790e4be.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">
        Air Jordan 1 Mid Black <br>Chile Red White
        </p>
        <p class="p-1">3,850,000đ</p>
      </div>
    </div>
    <div class="flex w-full sm:w-1/4 flex-col items-center">
      <img class="w-full" src="https://glab.vn/storage/products/2021/12/01/480x320/61a748dc047d2.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Air Jordan 1 Low <br>Mocha</p>
        <p class="p-1">4,950,000đ</p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
    <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2022/08/08/480x320/62f0d43760d6b.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">adidas Yeezy Slides Flax</p>
        <p class="p-1">2,860,000đ</p>
      </div>
    </div>
    <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2022/07/26/480x320/62dfdb5071409.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">adidas Yeezy Slide Bone <br>Restock 2022</p>
        <p class="p-1">4,730,000đ</p>
      </div>
    </div>
    <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2024/03/15/480x320/65f3ea28393af.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">adidas Yeezy Foam RNR <br> MX Granite</p>
        <p class="p-1">3,740,000đ</p>
      </div>
    </div>
     <div class=" w-full sm:w-1/4 flex-col items-center sm:block hidden">
      <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a775af050bb.jpg" alt="" />
      <div class="mt-2 text-center">
        <p class="text-sm font-semibold">Air Jordan 1 Low <br>SE Phantom Repaired Denim Swoosh</p>
        <p class="p-1">3,940,000đ</p>
      </div>
    </div>
  </div>
  <a href="/product">
  <div class="flex items-center justify-center mt-4">
    <button class="w-[150px] rounded-md border border-black px-4 py-2 text-black transition-colors duration-300 hover:border-gray-300 hover:bg-gray-300">Xem thêm</button>
  </div>
  </a>
</div>
<div class="mt-8 flex flex-col md:flex-row mb-5">
  <div class="w-full md:w-3/4 flex justify-center mb-4 md:mb-0">
    <img class="w-3/4 md:w-2/3" src="https://www.electricland-tokyo.com/cdn/shop/files/electricland-p-bagge_720x.jpg?v=1618407350" alt="Vintage Image">
  </div>
  <div class="w-full md:w-1/2 pl-0 md:pl-4 flex flex-col justify-center items-center">
    <div class="mb-4 w-full">
      <p class="font-bold text-lg">Xin chào! Chúng tôi là <span class="font-bold">Devil is Detail.</span></p>
    </div>
    <div class="  w-full">
      <p>Xin chào! Mình là <span class="font-semibold">Nhất Linh</span>, founder của <span class="font-bold">Devil is Detail.</span></p>
      <p>
        Là 1 người sưu tầm đồ vintage.<span class="font-bold"> Devil is Detail</span> được mở từ 2024,<br>
        thời điểm vintage đã dần phổ biến và phát triển tại Việt Nam<br>
        và thế giới. Với mong muốn là truyền tải văn hóa vintage cho<br>
        mọi người mình đã luôn tìm tòi thông tin và trau dồi kiến<br>
        thức và kinh nghiệm. Mình đã đi trải nghiệm rất nhiều nơi<br>
        trên thế giới, open the mind và có nhiều ấp ủ, luôn cố gắng<br>
        để phát triển và xây dựng văn hoá vintage chuẩn ở Việt Nam.<br>
        Những món đồ vintage ở <span class="font-bold">Devil is Detail.</span>
        đều được chọn lọc kĩ lưỡng,<br>
        cẩn thận và có giá trị do mình tự tay đi ở nhiều thành phố và<br>
        đất nước khác nhau mang về.
      </p>
      <p>
        <span class="font-semibold">Cảm ơn bạn đã chọn <span class="font-bold">Devil is Detail.</span> giữa muôn vàn lựa chọn<br>ngoài kia!!!</span>
      </p>
    </div>
    <a href="/information"><div class="flex justify-center mt-6 pr-20">
      <button class="w-full sm:w-[150px] rounded-md border border-black px-4 py-2 text-black transition-colors duration-300 hover:border-gray-300 hover:bg-gray-300">
        Xem chi tiết
      </button>
    </div></a>
  </div>
</div>
  </div>
</div>
<div class="bg-gray-200 p-4 mb-10">
  <div class="flex justify-around">
    <div class="flex flex-col items-center text-center">
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
</svg>

      <h3 class="text-lg font-medium text-center text-gray-800">CHÍNH SÁCH ĐỔI TRẢ</h3>
      <p class="text-sm marker:text-center text-gray-500">No return, No refund</p>
    </div>

    <div class="flex flex-col items-center text-center">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M2.25 2.25a.75.75 0 0 0 0 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 0 0-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 0 0 0-1.5H5.378A2.25 2.25 0 0 1 7.5 15h11.218a.75.75 0 0 0 .674-.421 60.358 60.358 0 0 0 2.96-7.228.75.75 0 0 0-.525-.965A60.864 60.864 0 0 0 5.68 4.509l-.232-.867A1.875 1.875 0 0 0 3.636 2.25H2.25ZM3.75 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM16.5 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" />
</svg>

      <h3 class="text-lg font-medium text-center text-gray-800">Cách mua hàng tại Faded</h3>
      <p class="text-sm text-center text-gray-500">Internet banking, Cod</p>
    </div>

    <div class="flex flex-col items-center text-center">
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M3.375 4.5C2.339 4.5 1.5 5.34 1.5 6.375V13.5h12V6.375c0-1.036-.84-1.875-1.875-1.875h-8.25ZM13.5 15h-12v2.625c0 1.035.84 1.875 1.875 1.875h.375a3 3 0 1 1 6 0h3a.75.75 0 0 0 .75-.75V15Z" />
  <path d="M8.25 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0ZM15.75 6.75a.75.75 0 0 0-.75.75v11.25c0 .087.015.17.042.248a3 3 0 0 1 5.958.464c.853-.175 1.522-.935 1.464-1.883a18.659 18.659 0 0 0-3.732-10.104 1.837 1.837 0 0 0-1.47-.725H15.75Z" />
  <path d="M19.5 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
</svg>

      <h3 class="text-lg font-medium text-center text-gray-800">Chính sách vận chuyển</h3>
      <p class="text-sm text-center text-gray-500">Miễn phí vận chuyển với hóa đơn <br>1.000.000 vnd trên toàn quốc</p>
    </div>
  </div>
</div>



<script>
  let currentIndex = 0;
  const images = [document.getElementById('image1'), document.getElementById('image2'), document.getElementById('image3')];
  const titles = [document.getElementById('title1'), document.getElementById('title2'), document.getElementById('title3')];
  let intervalId;

  function showImage(index) {
      images[currentIndex].classList.add('hidden');
      titles[currentIndex % titles.length].classList.add('opacity-0');
      titles[currentIndex % titles.length].classList.add('hidden');

      currentIndex = index;

      images[currentIndex].classList.remove('hidden');
      titles[currentIndex % titles.length].classList.remove('opacity-0');
      titles[currentIndex % titles.length].classList.remove('hidden');
  }

  function showNextImage() {
      const nextIndex = (currentIndex + 1) % images.length;
      showImage(nextIndex);
  }

  function showPrevImage() {
      const prevIndex = (currentIndex - 1 + images.length) % images.length;
      showImage(prevIndex);
  }

  function startSlideshow() {
      intervalId = setInterval(showNextImage, 3000); // Change every 3 seconds
  }

  function stopSlideshow() {
      clearInterval(intervalId);
  }

  document.getElementById('nextBtn').addEventListener('click', () => {
      stopSlideshow();
      showNextImage();
      startSlideshow();
  });

  document.getElementById('prevBtn').addEventListener('click', () => {
      stopSlideshow();
      showPrevImage();
      startSlideshow();
  });

  startSlideshow();

  // Header menu toggle functionality
  const menuToggle1 = document.getElementById('menu-toggle-1');
  const mobileMenu1 = document.getElementById('mobile-menu-1');

  menuToggle1.addEventListener('click', () => {
      mobileMenu1.classList.toggle('hidden');
  });
</script>
