@{ ViewData["Title"] = "Information"; }
<div class="p-8">
  <div class="flex flex-wrap">
    <div class="flex w-full flex-col justify-between border p-4 md:w-1/2">
      <div>
        <p class="mb-4 text-lg">Chào mừng bạn đến với Devil is Detail, cửa hàng trực tuyến chuyên bán các mặt hàng quần áo vintage tại thành phố Hồ Chí Minh. Tại Devil is Detail, chúng tôi tin rằng mỗi món đồ đều mang trong mình một câu chuyện, một phần quá khứ với một nét đẹp riêng biệt.</p>

        <h2 class="mb-2 text-2xl font-bold">Về Chúng Tôi</h2>
        <p class="mb-4 text-lg">Devil is Detail <span class="text-red-500">được thành lập</span> với niềm đam mê <span class="text-red-500">dành cho</span> các món đồ vintage và <span class="text-red-500">mong muốn</span> chia sẻ sự yêu thích này đến mọi người. Chúng tôi tin rằng với sự chọn lọc kỹ lưỡng các món đồ từ nhiều thập kỷ khác nhau, từ quần áo, cho đến phụ kiện. Mỗi món đồ đều <span class="text-red-500">được chúng tôi</span> cân nhắc tỉ mỉ để phù hợp với phong cách hiện đại, nhưng vẫn giữ <span class="text-red-500">nguyên nét đẹp</span> cổ điển của nó.</p>

        <h3 class="mb-2 text-xl font-semibold">Sản Phẩm Của Chúng Tôi</h3>
        <ul class="mb-4 list-inside list-disc">
          <li class="text-lg">Quần Áo Vintage: Từ những chiếc áo phông từ thập niên 70, áo khoác denim cá tính của thập niên 80, đến những chiếc áo thun in họa tiết đặc trưng của thập niên 90. Chúng tôi có đủ các loại trang phục để bạn có thể tạo nên phong cách riêng biệt và đầy cá tính của mình.</li>
          <li class="text-lg">Phụ Kiện: Các loại túi xách, mũ, khăn choàng, và trang sức cổ điển sẽ là điểm nhấn hoàn hảo cho trang phục của bạn.</li>
        </ul>
      </div>

      <div>
        <h3 class="mb-2 text-xl font-semibold">Sứ Mệnh Của Chúng Tôi</h3>
        <p class="mb-4 text-lg">Chúng tôi <span class="text-red-500">không chỉ</span> đơn thuần là bán hàng, mà còn <span class="text-red-500">muốn truyền cảm hứng</span> và tạo ra những trải nghiệm mới mẻ cho khách hàng. Mỗi món đồ tại Faded <span class="text-red-500">không chỉ là</span> một sản phẩm, mà còn là một phần ký ức, một câu chuyện <span class="text-red-500">chờ được</span> kể lại và khám phá. Chúng tôi hy vọng rằng qua từng sản phẩm, khách hàng sẽ <span class="text-red-500">cảm nhận được</span> sự trân trọng, cách nhìn mới và tận hưởng sự độc đáo của từng món đồ vintage.</p>

        <h3 class="mb-2 text-xl font-semibold">Liên Hệ</h3>
        <p class="mb-4 text-lg">Hãy ghé thăm cửa hàng trực tuyến của chúng tôi và khám phá bộ sưu tập phong phú của Devil is Detail. Nếu có bất kỳ câu hỏi hay yêu cầu đặc biệt nào, đừng ngần ngại liên hệ với chúng tôi qua email hoặc các kênh mạng xã hội. Chúng tôi luôn sẵn sàng lắng nghe và hỗ trợ bạn.</p>

        <p class="text-xl font-semibold">Cảm ơn bạn đã ghé thăm Devil is Detail. Chúc bạn có những trải nghiệm tuyệt vời!!!</p>
      </div>
    </div>
    <div class="flex w-full items-center justify-center border p-4 md:w-1/2">
      <img class="h-100 mb-4 w-full object-cover" src="https://www.electricland-tokyo.com/cdn/shop/files/electricland-p-bagge_720x.jpg?v=1618407350" alt="Image 1" />
    </div>
  </div>
</div>
