<div class="p-6">
  <div class="container mx-auto p-4">
    <nav class="mb-4 text-sm text-gray-500">HOME / PRODUCTS</nav>
    <h1 class="mb-6 text-2xl font-bold">Tất cả sản phẩm</h1>
    <div class="mb-6 flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <button class="flex items-center space-x-2 rounded-md border p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 7.5h15m-15 4.5h15m-15 4.5h15" />
          </svg>
          <span>Bộ lọc</span>
        </button>
        <select class="rounded-md border p-2">
          <option value="">Lọc giá</option>
          <option value="">>5,000,000đ</option>
          <option value="">>1,000,000đ</option>
          <option value="">>300,000đ</option>
        </select>
        <select class="rounded-md border p-2">
          <option value="">Brands</option>
        </select>
        <select class="rounded-md border p-2">
          <option value="">Kích thước</option>
          <option value="">S</option>
          <option value="">M</option>
          <option value="">L</option>
          <option value="">XL</option>
          <option value="">2XL</option>
        </select>
      </div>
      <div>
        <select class="rounded-md border p-2">
          <option value="">Sắp xếp</option>
        </select>
      </div>
    </div>
    <div class="flex flex-wrap justify-center sm:flex-nowrap sm:space-x-4">
      <div class="flex w-full flex-col items-center sm:w-1/4">
      <a href="/detail">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/02/480x320/665c04e52193d.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Vintage Nike Manchester United <br />2004-05 Away 2 Kit Nameset Ronaldo #7</p>
          <p class="p-1">3,850,000đ</p>
        </div>
        </a>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/66750191a8612.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">VINTAGE 90S APPLE MAC<br />BACK</p>
          <p class="p-1">3,520,000đ</p>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6675001eefcfc.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">VINTAGE 90S SALEM SPORT<br />WEAR NBA COMIC</p>
          <p class="p-1">3,850,000đ</p>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff2a897cb.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Vintage 90s Batman and <br />Robin</p>
          <p class="p-1">3,300,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6675013f52ae2.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Vintage 90s Looney Tunes <br />Wile E. Coyote</p>
          <p class="p-1">2,860,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff65dc8b8.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Vintage Samurai Deeper Kyo</p>
          <p class="p-1">1,650,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff98c439d.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            Vintage 90s Looney Tunes <br />
            Bugs Bunny Bicycle
          </p>
          <p class="p-1">1,650,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/06/21/480x320/6674ff1b3886d.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            Vintage 90s Beavis and <br />
            Butt-Head
          </p>
          <p class="p-1">1,650,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/07/18/480x320/6698d1d081895.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            Manchester United 2010 -11 <br />
            Home Jersey
          </p>
          <div class="flex gap-2">
            <p class="p-1 line-through">1,100,000đ</p>
            <p class="mt-1 text-red-600">880,000đ</p>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2021/12/01/480x320/61a748dc047d2.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Air Jordan 1 Low Mocha</p>
          <div class="flex gap-2">
            <p class="p-1 line-through">4,950,000đ</p>
            <p class="mt-1 text-red-600">3,100,000đ</p>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a777f119928.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            Mykita + Maison Margiela Raw <br />
            Black Solid Gray Sunglasses
          </p>
          <div class="flex gap-2">
            <p class="p-1 line-through">11,000,000đ</p>
            <p class="mt-1 text-red-600">8,100,000đ</p>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a7775db2bec.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Stoned FC Jersey White <br />Soft Blue</p>
          <div class="flex gap-2">
            <p class="p-1 line-through">3,250,000đ</p>
            <p class="mt-1 text-red-600">1,850,000đ</p>
          </div>
        </div>
      </div>
    </div>
 
    <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/03/05/480x320/62232e41efdf7.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Drew House Mascot ss</p>
          <div class="flex justify-center gap-2">
            <p class="p-1 line-through">3,520,000đ</p>
            <p class="mt-1 text-red-600">2,850,000đ</p>
          </div>
        </div>
      </div>

      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2020/10/20/480x320/5f8edc4bc6b8b.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">BAPE x Anti Social Social <br />Club ABC Camo Box Tee</p>
          <div class="flex justify-center gap-2">
            <p class="p-1 line-through">3,520,000đ</p>
            <p class="mt-1 text-red-600">3,050,000đ</p>
          </div>
        </div>
      </div>

      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/12/22/480x320/63a425c638560.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">WMNS Nike Sportswear Faux <br />Fur Jacket Photon Dust</p>
          <div class="flex gap-2">
            <p class="p-1 line-through">4,250,000đ</p>
            <p class="mt-1 text-red-600">3,850,000đ</p>
          </div>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/07/18/480x320/6698d3a2792eb.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">JUVENTUS 23/24 HOME JERSEY</p>
          <div class="flex justify-center gap-2">
            <p class="p-1 line-through">880,000đ</p>
            <p class="mt-1 text-red-600">550,000đ</p>
          </div>
        </div>
      </div>
    </div>
 
    <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/10/31/480x320/635fbe5970a18.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            Air Jordan 4 Retro <br />
            Midnight Navy
          </p>
          <p class="p-1">9,900,000đ</p>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/02/28/480x320/621caffca1e91.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Nike Blazer Mid 77 Jumbo</p>
          <p class="p-1">1,520,000đ</p>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2021/01/20/480x320/6007ef790e4be.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Air Jordan 1 Mid Black <br />Chile Red White</p>
          <p class="p-1">3,850,000đ</p>
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2021/12/01/480x320/61a748dc047d2.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Air Jordan 1 Low <br />Mocha</p>
          <p class="p-1">4,950,000đ</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:flex-nowrap sm:space-x-4">
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/08/08/480x320/62f0d43760d6b.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">adidas Yeezy Slides Flax</p>
          <p class="p-1">2,860,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2022/07/26/480x320/62dfdb5071409.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">adidas Yeezy Slide Bone <br />Restock 2022</p>
          <p class="p-1">4,730,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/03/15/480x320/65f3ea28393af.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">
            adidas Yeezy Foam RNR <br />
            MX Granite
          </p>
          <p class="p-1">3,740,000đ</p>
        </div>
      </div>
      <div class="flex hidden w-full flex-col items-center sm:block sm:w-1/4">
        <img class="w-full" src="https://glab.vn/storage/products/2024/07/29/480x320/66a775af050bb.jpg" alt="" />
        <div class="mt-2 text-center">
          <p class="text-sm font-semibold">Air Jordan 1 Low <br />SE Phantom Repaired Denim Swoosh</p>
          <p class="p-1">3,940,000đ</p>
        </div>
      </div>
    </div>
    <div class="mt-4 flex items-center justify-center">
      <button class="w-[150px] rounded-md border border-black px-4 py-2 text-black transition-colors duration-300 hover:border-gray-300 hover:bg-gray-300">Xem thêm</button>
    </div>
  </div>
</div>
